
h1 {
     
     font-family: monospace;
     text-align : center;
     color : #000063;
     font-size: 60px; 
}

body { background-color : #6E6E6E
}
	
p {
     font-size: 50px;
     font-family: sans-serif bold;
}